/* :root {
  --color1: #03045E;
  --color2: #0077B6;
  --color3: #00B4D8;
  --color4: #90E0EF;
  --color5: #CAF0F8;
}

body {
  background-color: var(--color1);
  color: var(--color5);
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--color2);
  padding: 20px;
  color: var(--color5);
}

button {
  background-color: var(--color3);
  color: var(--color5);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color4);
}

.modal {
  background-color: var(--color5);
  color: var(--color1);
} */